html {
  background-image: linear-gradient(#FF8682, #FFB2AC);
}

header {
  display: block;
  justify-content: center;
}

h1 {
  font-size: 3em;
  font-family: serif;
  color: #FFFBD1;
}

h4 {
  font-size: 1em;
  color: #FFFBD1;
}

/*.nav {
  display: inline;
  margin-right: 10%;

}*/

ul {
  list-style-type: none;
}

ul.active {
  display: block;

}

img {
  max-width: 100%;
  margin: auto;
}

body {
  text-align: center;
}


p {
  font-size: 1em;
  font-family: times;
  color: #F5F1BD;
  font-style: italic;

}

a {
  color: #4623F2;
  font-size: 1.2em;
  font-family: sans-serif;
  text-decoration: none;
}
