a:visited {
  color: #4623F2;
  text-decoration: none;
}

.site-header {
  align-content: center;
  position: relative;
}


.fa-bars {
  height: 4em;
  width: 4em;
  display: block;
  position: absolute;
  left: 3%;
}

.template {
  display: none;
}

.main-nav {
  display: inline-block;
}

#me p {
  display: block;
  clear: both;
}

#family p {
  display: block;
  clear: both;
}

img {
  height: 200px; 
  width: 225px;
}
