@media only screen and (min-width: 770px) {

  .fa-bars {
    display: none;
  }

  img {
    height: 300px;
    width: 300px;
  }

  .nav {
    display: block !important;
  }

  .desktop {
    display: inline-flex;
    justify-content: space-around;
  }

  .selfie {
    float: left;
    clear: right;
  }

  .family-pic{
    float: left;
    clear: right;
  }

  .site-header {
    align-content: center;
  }

  .social {
    margin-left: -3%;
  }

}

@media only screen and (max-width: 770px) {

  .nav {
    display: none;
  }





}
