@media only screen and (min-width: 770px) {

  .fa-bars {
    display: none;
  }

  img {
    height: 300px;
    width: 300px;
    margin: 0 auto;
  }

  .nav {
    display: flex !important;
    justify-content: space-between;
    margin-right: 20%;
    margin-left: 20%;
  }

  #about {
    display: block;
    clear: both;
  }


  .site-header {
    align-content: center;
  }

  .social {
    margin-left: -3%;
  }

}

@media only screen and (max-width: 770px) {

  .nav {
    display: none;
  }
  
}
